In [1]:
import matplotlib.pyplot as plt
import numpy as np # linear algebra
import pandas as pd 


Temp = pd.read_csv("Environment_Temperature_change_E_All_Data_NOFLAG.csv", encoding='cp1252')

In [2]:
Temp

,Area Code,Area,Months Code,Months,Element Code,Element,Unit,Y1961,Y1962,Y1963,...,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019
0,2,Afghanistan,7001,January,7271,Temperature change,°C,0.777,0.062,2.744,...,3.601,1.179,-0.583,1.233,1.755,1.943,3.416,1.201,1.996,2.951
1,2,Afghanistan,7001,January,6078,Standard Deviation,°C,1.950,1.950,1.950,...,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950
2,2,Afghanistan,7002,February,7271,Temperature change,°C,-1.743,2.465,3.919,...,1.212,0.321,-3.201,1.494,-3.187,2.699,2.251,-0.323,2.705,0.086
3,2,Afghanistan,7002,February,6078,Standard Deviation,°C,2.597,2.597,2.597,...,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597
4,2,Afghanistan,7003,March,7271,Temperature change,°C,0.516,1.336,0.403,...,3.390,0.748,-0.527,2.246,-0.076,-0.497,2.296,0.834,4.418,0.234
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9651,5873,OECD,7018,Jun–Jul–Aug,6078,Standard Deviation,°C,0.247,0.247,0.247,...,0.247,0.247,0.247,0.247,0.247,0.247,0.247,0.247,0.247,0.247
9652,5873,OECD,7019,Sep–Oct–Nov,7271,Temperature change,°C,0.036,0.461,0.665,...,0.958,1.106,0.885,1.041,0.999,1.670,1.535,1.194,0.581,1.233
9653,5873,OECD,7019,Sep–Oct–Nov,6078,Standard Deviation,°C,0.378,0.378,0.378,...,0.378,0.378,0.378,0.378,0.378,0.378,0.378,0.378,0.378,0.378
9654,5873,OECD,7020,Meteorological year,7271,Temperature change,°C,0.165,-0.009,0.134,...,1.246,0.805,1.274,0.991,0.811,1.282,1.850,1.349,1.088,1.297
9655,5873,OECD,7020,Meteorological year,6078,Standard Deviation,°C,0.260,0.260,0.260,...,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260

In [ ]:
#Data Cleaning
Temp.columns = Temp.columns.str.replace('Y', '') 
Temp.drop(columns=['Area Code', 'Months Code', 'Element Code'], inplace=True) 
Temp.drop(Temp.loc[Temp['Element'] == 'Standard Deviation'].index, inplace=True) 
Temp_clean = Temp.loc[Temp['Months'] == 'Meteorological year']

In [35]:
#Selecting areas that interest me in current project and cleaning the df 

areas = [ 'Africa','Eastern Africa', 'Middle Africa', 'Northern Africa',
       'Southern Africa', 'Western Africa', 'Americas',
       'Northern America', 'Central America', 'Caribbean',
       'South America', 'Asia', 'Central Asia', 'Eastern Asia',
       'Southern Asia', 'South-Eastern Asia', 'Western Asia', 'Europe',
       'Eastern Europe', 'Northern Europe', 'Southern Europe',
       'Western Europe', 'Oceania', 'Australia and New Zealand',
       'Melanesia', 'Micronesia', 'Polynesia', 'European Union',
       'Least Developed Countries', 'Land Locked Developing Countries',
       'Small Island Developing States',
       'Low Income Food Deficit Countries',
       'Net Food Importing Developing Countries', 'Annex I countries',
       'Non-Annex I countries', 'OECD']

main_areas = ['Africa', 'Americas', 'Asia', 'Europe']

Temp_A = Temp_clean[Temp_clean['Area'].isin(areas)]
Temp_MA = Temp_clean[Temp_clean['Area'].isin(main_areas)]

In [36]:
Temp_A.head()

,Area,Months,Element,Unit,1961,1962,1963,1964,1965,1966,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
8464,Africa,Meteorological year,Temperature change,°C,-0.017,-0.040,0.064,-0.153,-0.197,0.138,...,1.541,0.949,0.781,1.014,1.036,1.208,1.442,1.224,1.222,1.415
8498,Eastern Africa,Meteorological year,Temperature change,°C,0.252,-0.120,-0.212,-0.273,-0.374,0.124,...,1.233,0.983,0.990,0.960,0.971,1.353,1.338,1.304,0.983,1.515
8532,Middle Africa,Meteorological year,Temperature change,°C,-0.100,-0.176,0.038,-0.160,-0.154,0.088,...,1.191,0.758,0.504,0.863,0.799,1.095,1.325,1.097,1.279,1.476
8566,Northern Africa,Meteorological year,Temperature change,°C,-0.030,0.129,0.192,-0.083,-0.153,0.250,...,2.057,1.197,1.094,1.240,1.515,1.097,1.712,1.212,1.519,1.175
8600,Southern Africa,Meteorological year,Temperature change,°C,0.212,0.130,0.013,-0.058,-0.010,0.248,...,1.295,0.248,0.522,0.884,0.611,1.439,1.647,0.874,1.159,1.911

In [32]:
Temp_A.describe()

,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
count,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000,...,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000
mean,0.179371,-0.021771,0.027343,-0.152857,-0.231857,0.093971,-0.098971,-0.184943,0.046886,0.096057,...,1.107722,0.846750,0.910611,0.994944,1.078972,1.302278,1.555722,1.368417,1.273889,1.428444
std,0.389266,0.237561,0.282289,0.188399,0.201875,0.362562,0.261964,0.199353,0.365452,0.258509,...,0.460961,0.345668,0.420937,0.199908,0.466943,0.351305,0.350330,0.258623,0.377748,0.324745
min,-0.289000,-0.616000,-0.991000,-0.638000,-0.720000,-1.285000,-0.641000,-0.854000,-1.150000,-0.680000,...,0.020000,0.192000,0.268000,0.675000,0.389000,0.447000,1.124000,0.874000,0.834000,0.739000
25%,-0.059000,-0.141000,-0.096500,-0.236500,-0.354000,-0.080000,-0.238500,-0.282000,-0.054000,0.040000,...,0.867750,0.677750,0.640000,0.865500,0.808000,1.085750,1.316250,1.221000,1.021250,1.261000
50%,0.029000,-0.058000,0.072000,-0.160000,-0.224000,0.088000,-0.176000,-0.195000,0.119000,0.175000,...,1.200000,0.872000,0.774500,0.957500,0.971000,1.279000,1.438500,1.310000,1.152500,1.408500
75%,0.232000,0.129500,0.200500,-0.034000,-0.102000,0.249000,-0.051500,-0.053500,0.260000,0.225500,...,1.346250,1.024000,1.181000,1.085000,1.130750,1.488250,1.741500,1.503000,1.418500,1.531000
max,1.271000,0.705000,0.412000,0.329000,0.159000,0.894000,0.645000,0.196000,0.560000,0.534000,...,2.194000,1.613000,1.913000,1.604000,2.346000,2.209000,2.412000,2.042000,2.202000,2.221000

In [37]:
Temp_MA.head()

,Area,Months,Element,Unit,1961,1962,1963,1964,1965,1966,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
8464,Africa,Meteorological year,Temperature change,°C,-0.017,-0.040,0.064,-0.153,-0.197,0.138,...,1.541,0.949,0.781,1.014,1.036,1.208,1.442,1.224,1.222,1.415
8668,Americas,Meteorological year,Temperature change,°C,0.052,-0.084,0.253,-0.251,-0.304,-0.101,...,1.330,0.872,1.352,0.864,0.733,1.361,1.755,1.340,0.960,1.246
8838,Asia,Meteorological year,Temperature change,°C,0.049,-0.008,0.266,-0.166,-0.033,0.326,...,1.251,0.701,0.693,1.054,0.909,1.284,1.457,1.464,1.343,1.369
9042,Europe,Meteorological year,Temperature change,°C,0.874,0.300,0.103,-0.523,-0.430,0.724,...,0.817,1.548,1.789,1.118,1.807,2.106,2.286,1.959,2.009,2.116

In [38]:
Temp_MA.describe()

,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
count,4.000000,4.000000,4.00000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.00000,...,4.000000,4.00000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
mean,0.239500,0.042000,0.17150,-0.273250,-0.241000,0.271750,-0.112500,-0.125250,-0.140750,0.16050,...,1.234750,1.01750,1.153750,1.012500,1.121250,1.489750,1.735000,1.496750,1.383500,1.536500
std,0.424197,0.174799,0.10299,0.172078,0.168216,0.348475,0.207882,0.183196,0.599601,0.06359,...,0.304215,0.36854,0.514483,0.107869,0.473747,0.415555,0.394603,0.323373,0.446589,0.392865
min,-0.017000,-0.084000,0.06400,-0.523000,-0.430000,-0.101000,-0.308000,-0.337000,-1.010000,0.07300,...,0.817000,0.70100,0.693000,0.864000,0.733000,1.208000,1.442000,1.224000,0.960000,1.246000
25%,0.032500,-0.051000,0.09325,-0.319000,-0.335500,0.078250,-0.233750,-0.247750,-0.265250,0.13750,...,1.142500,0.82925,0.759000,0.976500,0.865000,1.265000,1.453250,1.311000,1.156500,1.338250
50%,0.050500,-0.024000,0.17800,-0.208500,-0.250500,0.232000,-0.158000,-0.106000,0.046500,0.17400,...,1.290500,0.91050,1.066500,1.034000,0.972500,1.322500,1.606000,1.402000,1.282500,1.392000
75%,0.257500,0.069000,0.25625,-0.162750,-0.156000,0.425500,-0.036750,0.016500,0.171000,0.19700,...,1.382750,1.09875,1.461250,1.070000,1.228750,1.547250,1.887750,1.587750,1.509500,1.590250
max,0.874000,0.300000,0.26600,-0.153000,-0.033000,0.724000,0.174000,0.048000,0.354000,0.22100,...,1.541000,1.54800,1.789000,1.118000,1.807000,2.106000,2.286000,1.959000,2.009000,2.116000